server:
  port: 9002

spring:
  application:
    name: user-service

  # --- [AWS 대신 H2 설정 사용] ---
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:testdb
    username: sa
    password: 

  jpa:
    hibernate:
      ddl-auto: create-drop  # 켜질 때 만들고 꺼질 때 삭제 (테스트용)
    show-sql: true
    database-platform: org.hibernate.dialect.H2Dialect
  
  # H2 콘솔 접속용 (http://localhost:9002/h2-console)
  h2:
    console:
      enabled: true
      settings:
        web-allow-others: true
        
eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka

token:
  secret: "SOME_SUPER_SECRET_KEY_THAT_IS_VERY_LONG_AND_SECURE_FOR_HS256_ALGORITHM"
  expiration_time: 86400000