server:
  port: 9000

spring:
  application:
    name: apigateway-service
  cloud:
    gateway:
      globalcors:
        add-to-simple-url-handler-mapping: true   # ⭐ 추가
        cors-configurations:
          '[/**]':
            allowedOrigins:
              - "http://localhost:5173"
              - "http://localhost:5174"
              - "http://localhost:5175"
            allowedMethods:
              - "*"
            allowedHeaders:
              - "*"
            allowCredentials: true
            exposedHeaders:
              - token
              - Authorization

      server:
        webmvc:
          routes:
            - id: user-service
              uri: lb://USER-SERVICE
              predicates:
                - Path=/users/**
            - id: article-service
              uri: lb://ARTICLE-SERVICE
              predicates:
                - Path=/articles/**
            - id: comment-service
              uri: lb://COMMENT-SERVICE
              predicates:
                - Path=/comments/**

    discovery:
      enabled: true

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
