server:
  port: 8081

spring:
  application:
    name: ARTICLE-SERVICE
  profiles:
    active: dev
  datasource:
    url: jdbc:h2:mem:articledb
    username: sa
    password:
    driver-class-name: org.h2.Driver
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: create       # H2 메모리 DB용 - 시작시마다 스키마 생성
    show-sql: true           # SQL 콘솔 출력
    properties:
      hibernate:
        format_sql: true     # SQL 출력 포멧


eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: ${EUREKA_SERVER_URL:http://localhost:8761/eureka}
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${server.port}

logging:
  level:
    com.example.article_service: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

